In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Lists of dogs and cats
dogs = ['Golden Retriever', 'Lab', 'German Shepherd', 'Bulldog', 'Beagle']
cats = ['Persian', 'American Shorthair', 'Ragdoll', 'Siamese', 'Birman']

In [3]:
# Create a new DataFrame
df = pd.DataFrame()

In [5]:
# Add dogs column to DataFrame
df['dogs'] = dogs
df

               dogs
0  Golden Retriever
1               Lab
2   German Shepherd
3           Bulldog
4            Beagle

In [6]:
# Add cats column to DataFrame
df['cats'] = cats
df

               dogs                cats
0  Golden Retriever             Persian
1               Lab  American Shorthair
2   German Shepherd             Ragdoll
3           Bulldog             Siamese
4            Beagle              Birman

In [9]:
# Create a new dictionary named animals
animals = {'dogs':dogs, 'cats':cats}
animals

{'dogs': ['Golden Retriever', 'Lab', 'German Shepherd', 'Bulldog', 'Beagle'],
 'cats': ['Persian', 'American Shorthair', 'Ragdoll', 'Siamese', 'Birman']}

In [10]:
# Create a new DataFrame using a dictionary
df1 = pd.DataFrame(animals)
df1

               dogs                cats
0  Golden Retriever             Persian
1               Lab  American Shorthair
2   German Shepherd             Ragdoll
3           Bulldog             Siamese
4            Beagle              Birman

In [12]:
# BONUS: Add a column to the DataFrame with different types of birds.
birds = ['hummingbird','sparrow','dove','eagle','falcon']
df1['birds'] = birds
df1

               dogs                cats        birds
0  Golden Retriever             Persian  hummingbird
1               Lab  American Shorthair      sparrow
2   German Shepherd             Ragdoll         dove
3           Bulldog             Siamese        eagle
4            Beagle              Birman       falcon

In [10]:
def fib(n):
    if n ==0:
        return 0
    elif n ==1:
        return 1
    else:
        return fib(n-2)+fib(n-1)

In [14]:
print(fib(10))

55

In [15]:
for i in range(11):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34
55