In [3]:
import pandas as pd
import os

In [5]:
file = os.path.join('..','Resources','DataOne.csv')

In [7]:
df = pd.read_csv(file)

In [9]:
df = pd.read_csv(file)

In [11]:
df

     id first_name  last_name                            email  gender
0     1      David     Jordan                 djordan0@home.pl    Male
1     2    Stephen      Riley          sriley1@hugedomains.com    Male
2     3     Evelyn      Grant          egrant2@livejournal.com  Female
3     4        Joe    Mendoza                 jmendoza3@un.org    Male
4     5   Benjamin  Rodriguez           brodriguez4@elpais.com    Male
..  ...        ...        ...                              ...     ...
95   96       Adam      Banks  abanks2n@scientificamerican.com    Male
96   97    Antonio   Franklin              afranklin2o@loc.gov    Male
97   98        Joe      Allen           jallen2p@quantcast.com    Male
98   99    Rebecca    Russell         rrussell2q@wordpress.com  Female
99  100      Kathy    Sanchez            ksanchez2r@ebay.co.uk  Female

[100 rows x 5 columns]

In [16]:
df.iloc[:5,'first']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types